<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Numberscope</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Base.js -->
    <script src="../static/js/base.js"></script>
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <h1>Welcome to Numberscope</h1>
    <a href="{{ url_for('tool_page') }}">Tool Page</a>
    <!-- Navbar -->
      <div class="w3-bar w3-theme-dark-blue w3-padding w3-card">
        <a href="homepage.html" class="w3-bar-item w3-button w3-hover-orange">
        <img class="w3-image" src="resources/MicroscopeLogo.png" width="210" height="40">
        <div class="w3-right w3-padding w3-wide">
          <a href="toolPage.html" class="w3-bar-item w3-button w3-hover-orange"><b>The Scope</b></a>
          <a href="the specimens.html" class="w3-bar-item w3-button w3-hover-orange"><b>Specimens</b></a>
          <a href="usermanuals.html" class="w3-bar-item w3-button w3-hover-orange"><b>User Manual</b></a>
        </div>
     </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:2500px;" id="home">
      <img class="w3-image" src="resources/homepage/backgroundx.jpg" width="2500" height="400">
      <div class="w3-display-middle w3-margin-top w3-center" style="max-width:3500px;">
         <h1 class="w3-xxlarge w3-text"><span class="w3-padding w3-white w3-opacity-min"><b>NUMBERSCOPE </b><br></span>
         <span class="w3-text" width="2500">THE ONLINE TOOL FOR VISUALIZING INTEGER SEQUENCES</span></br></h1>
         <a href="toolPage.html" class="w3-button w3-round w3-padding-large w3-large w3-margin-top w3-theme-light-orange w3-hover-pale-red w3-hover-text-orange" >Get Started!</a>
      </div>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>


</body>
</html>
